body, html {
	font-family: 'Lucida Console';
	font-size: 16px;
	background-color: black;
}
header {
	display: block;
	width: 100%;
}
.baner {
	background-image: url("/media/baner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
	width: 100%;
}
ul {
	position: relative;
	top: 400px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #000;
}
li {
	float: left;
}
li a {
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: white;
}
h1 {
    font-family: 'Lucida Console';
	font-size: 1em;
	color: red;
	position: relative;
	top: 400px;
	margin: 0.5em;
}
figure {
	position: relative;
	top: 400px;
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
	color: white;
}
figcaption {
	font-size: 80%;
}
img {
	width: 100%;
}
p {
	position: relative;
	top: 400px;
	margin: 1em;
	line-height: 1em;
	color: white;
	letter-spacing: 1.5px;
}
footer {
	background-color: #000;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}